
*{
   
    font-family: 'Work Sans', sans-serif;
    padding: 0 ;
    margin: 0;
}
nav{
    background:antiquewhite;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.navContainer{
    min-height: 120px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    
}
.hive{
    color: #FF42A5;
}
.logoContainer{

    display: flex;
    width: 50%;
}

.logoContainer img{

    width: 80px;
    height: 40px;
    object-fit:cover;
    margin-right: 20px;
}
.logoContainer h3{
    font-size: 2.5rem;
    font-weight: 700px;
  
}


.navItemContainer{
    /* padding: 0 100px; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navItemContainer a{
    text-decoration: none;
    font-size: 1.1rem;
    width: 500px;
    color: #3C354F;
}

.navItemContainer .login-btn{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 5px;
    color: black;
    text-align: center;
   
    
}
.fa-facebook {
    /* background: #3B5998; */
    color:#3B5998;
    width: 30px;
    height: 20px;
    
  }
  
  .fa-twitter {
    
    /* background: #55ACEE; */
    color: #55ACEE;
    width: 50px;
    height: 24px;
  }



  /* banner style */



  .banner{
    padding: 0px 200px 0px 0px;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    background: #FFF;
    
    
  }
.bannerContainer{
    background-image: url('/images/Group\ 14.png');
    /* background-size: contain; */
    width: 900px;
    height: 700px;
    /* justify-content: center;
    align-items: center; */
    padding: 0 0 0 150px;
   background-repeat:no-repeat ;
}
.bannerSubTitle{
    margin-top: 145px;
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.bannerTitle{
font-size: 95px;
font-weight: 800;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.bannerTitleDes{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-top: 17px;
}
.btnIn{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border: 0;
    margin-right: 10px;
    margin-top: 40px;
}
.btnGo{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    border-radius: 48px;
    background: #4EC5F7;
    border: 0;
}
.bannerImg{
    width: 100%;
}
 
/* main style */
main{
    background: #FFF;
}

/* online section */

.imgContainer{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    max-width: 1400px;
    margin: 0 auto;
    gap: 24px;
}
.onlineTitle{
    color: #0B0223;
    text-align:center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 120px;

}
.onlineDes{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
    margin-top: 15px;
}
.imgContainerTitle{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 20px;
}

/* games section */
.gamesContainer{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    max-width: 1400px;
    margin:0 auto;
    gap: 100px;
    margin-top: 120px;
}
.gamesTitle{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-top: 300px;
    margin-bottom: 24px;
}
.gamesDes{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    
}
.gamesContain{
    justify-content: center;
}
.gamesPosition{
    width: 315px;
    height: 365px;
    position: relative;
    bottom: 300px;
}
.gamesImg1{
    width: 630px;
    height: 650px;
    margin-left: 145px;
}





/* responsive style */
 
@media screen and (max-width:578px) {
    .navContainer{
        flex-direction: column;
        padding: 0%;
        width: 100%;
    }

    
    .navItemContainer{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .navItemContainer a{
        margin-top: 10px;
    }
    .login-btn{
        max-width: 260px;
    }
    .banner{
        grid-template-columns:repeat(1 , 1fr);
        padding: 0;
        max-width:575px;
        max-width: 90%;
        
    }
    .bannerContainer{
        max-width:575px;
        padding: 0 0 0 30px;
        

    }
    /* .bannerImg img{
        max-width:100%;
    } */
    .res{
        max-width: 100%;
    }
    
    .imgContainer{
        grid-template-columns: repeat(1 , 1fr);
        justify-items: center;
    }
    .gamesContainer{
        grid-template-columns: repeat(1 , 1fr);
    }
    .gamesContain{
        max-width: 100%;
    }
    .gamesImg1{
        max-width: 100%;
    }
}

@media screen and (min-width:576px) and ( max-width: 960px) {
    .banner{
        grid-template-columns:repeat(1 , 1fr);
        padding: 0;
        
    }
    .imgContainer{
        grid-template-columns: repeat(2 , 1fr);
        justify-items: center;
    }
}